%md-dialog{"aria-label" => "Edit Recipe", :flex => "66"}
  %form#recipeForm{:name => "recipeEditForm", "ng-submit" => "saveRecipe(cocktail)"}
    %md-toolbar
      .md-toolbar-tools
        %h2 Edit {{ cocktail.name }}
        %span{:flex => ""}
        %md-button.md-icon-button{"ng-click" => "cancel()"}
          %md-icon{"aria-label" => "cancel"} close

    %md-dialog-content
      %md-input-container
        %label Name
        %input{:type => "text", :name => "name", "ng-model" => "cocktail.name"}

      %md-input-container
        %label Description
        %input{:type => "text", :name => "description", "ng-model" => "cocktail.description"}

      %md-input-container
        %label Instructions
        %input{:type => "text", :name => "instructions", "ng-model" => "cocktail.instructions"}

      %md-chips{"ng-model" => "ctrl.selectedIngredients", "md-autocomplete-snap" => "", "md-require-match" => ""}
        %md-autocomplete{"md-selected-item" => "ctrl.selectedItem", "md-search-text" => "ctrl.searchText", "md-items" => "it in ctrl.querySearch(ctrl.searchText)", "md-item-text" => "it.name", :placeholder => "Add ingredients", "md-search-text-change" => "null", "md-selected-item-change" => "null"}
          %span{"md-highlight-text" => "ctrl.searchText"} {{ it.name }} - {{ it.ingredientType }}
        %md-chip-template
          %span
            %strong {{ $chip.name }}
            %em ({{ $chip.ingredientType }})



    .md-actions
      %md-button{:type => "submit"} Save



