%md-dialog{"aria-label" => "Log In"}
  %form#loginForm{:name => "userLoginForm", "ng-submit" => "login()"}
    %md-toolbar
      .md-toolbar-tools
        %h2 Log In
        %span{:flex => ""}
        %md-button.md-icon-button{"ng-click" => "cancel()"}
          %md-icon{"aria-label" => "cancel"} close

    %md-dialog-content
      %md-input-container
        %label Email
        %input{:type => "email", :required => "", :name => "email", "ng-model" => "user.email"}
        %div{"ng-messages" => "userLoginForm.email.$error", "ng-show" => "userLoginForm.email.$dirty"}
          %div{"ng-message" => "required"} You gotta supply an email to log in, bud!

      %md-input-container
        %label Password
        %input{:required => "", :type => "password", "ng-model" => "user.password"}
        %div{"ng-messages" => "userLoginForm.password.$error", "ng-show" => "userLoginForm.username.$dirty"}
          %div{"ng-message" => "required"} Can't login without a password...

    .md-actions
      %md-button{:type => "submit"} Log In
