%md-card{:flex => "75"}
  %md-card-content
    %h2.md-display-1 {{ cocktailRecipe.name }}
    %p.md-body-1 {{ cocktailRecipe.description }}
  .md-actions{:layout => "row", "layout-align" => "end center", "layout-padding" => ""}
    %p.md-caption.italic{"ng-show" => "cocktailRecipe.user"} Created by {{ cocktailRecipe.user }} on {{ cocktailRecipe.createdAt }}
    %p.md-caption.italic{"ng-hide" => "cocktailRecipe.user"} Created by Admin on {{ cocktailRecipe.createdAt }}
    %span{:flex => ""}
    %md-button.md-primary Edit
    %md-button.md-warn Delete
