%div{:layout => "column", "layout-align" => "center"}
  %h1.md-display-3.text-center Search Cocktail Recipes

  %md-content{"layout-align" => "center center", :layout => "row"}
    %md-input-container{:flex => ""}
      %label Keywords
      %input{:name => "keywords", "ng-model" => "keywords"}
    %md-button.md-raised.md-primary{"ng-click" => "search(keywords)"} Search

  %md-content.md-whiteframe-z1{"ng-if" => "searchResults"}
    %md-toolbar.md-hue-1
      .md-toolbar-tools
        %h2 Search Results
    %md-list{"layout-padding" => ""}
      %md-list-item{"ng-repeat" => "result in searchResults", "ng-click" => "goToCocktail(result.id)"}
        %p {{ result.name }}
        %md-button.md-icon-button
          %md-icon favorite
        %md-divider{"ng-if" => "!$last"}

