.navbar{"ng-controller" => "NavCtrl"}
  %md-content
    %md-toolbar
      .md-toolbar-tools
        %md-button{class: "md-icon-button", "aria-label" => "Settings"}
          %md-icon menu
        %h2
          %span
            Cocktails!
        %span{:flex => true}
        %md-button{class: "md-icon-button", "aria-label" => "Search", "ui-sref" => 'search'}
          %md-icon search





-#  vim: set ts=8 sw=2 tw=0 ft=haml et :
