md-dialog(aria-label="Log In")
  form#loginForm(name="userLoginForm", ng-submit="login()")
    md-toolbar
      .md-toolbar-tools
        h2 Login
        span(flex)
        md-button.md-icon-button(ng-click="cancel()")
          md-icon(aria-label="cancel") close

    md-dialog-content
      md-input-container
        label Email
        input(type="email", required, name="email", ng-model="user.email")
        div(ng-messages="userLoginForm.email.$error", ng-show="userLoginForm.email.$dirty")
          div(ng-message="required") You need to supply an email address to login

      md-input-container
        label Password
        input(type="password", required, ng-model="user.password")
        div(ng-messages="userLoginForm.password.$error", ng-show="userLoginForm.password.$dirty")
          div(ng-message="required") Can't login without your password!

    .md-actions
      md-button(type="submit") Log In

//  vim: set ts=8 sw=2 tw=0 ft=jade et :
