!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cocktails
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons"}
    = csrf_meta_tags
  %body{ "ng-app" => "cocktails", :layout => "column", "ng-controller" => "MainCtrl", "ng-cloak" => "" }
    = yield
